/* Customize the save buttons */
#save-wa11y-settings,
#save-wa11y-settings-mb {
    display: block;
    background-color: #0074a2 !important;
    width: 100%;
    height: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    padding: 8px 12px !important;
    border: 0;
    margin: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff !important;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.1em;
    line-height: 1.3em;
    box-shadow: none !important;
    vertical-align: middle;
}

#save-wa11y-settings-mb {
    margin: 10px 0 0 0;
}

/* Setup all the .inside */
#wa11y-tota11y-settings .inside,
#wa11y-wave-settings .inside {
    margin: 0;
    padding: 0;
}

.wa11y-tool-settings .tool-header {
    margin: 0;
    padding: 20px;
}

.wa11y-tool-settings .tool-header input.tool-checkbox {
    display: inline-block;
    margin: 0 8px 0 0;
}
.wa11y-tool-settings .tool-header input.tool-checkbox:before {
    color: #016288;
}

.wa11y-tool-settings .tool-header label.tool-label {
    display: inline;
    font-size: 18px;
    font-weight: bold;
    line-height: 1em;
    color: #016288;
    color: #000;
}
.wa11y-tool-settings .tool-header label.tool-label .thinner {
    font-weight: normal;
}

.wa11y-tool-settings .tool-header .tool-desc {
    margin: 10px 0 0 0;
    padding: 0;
}

.wa11y-tool-settings .tool-header .tool-desc p {
    margin: 0 0 1em 0;
}

.wa11y-tool-settings .tool-header .tool-desc .why-header,
.wa11y-tool-settings .tool-header .tool-desc .use-header {
    padding: 0 !important;
    margin: 0 0 3px 0 !important;
    color: #333 !important;
}

.wa11y-tool-settings .tool-header .tool-desc *:last-child {
    margin-bottom: 0;
}

/* Headers with logos */
.wa11y-tool-settings .tool-header.has-logo {
    position: relative;
    padding: 20px 20px 20px 145px;
}

.wa11y-tool-settings .tool-header.has-logo:before {
    content: '';
    background: #eee;
    width: 120px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

/* Customize the tota11y header */
.wa11y-tool-settings .tool-header.tota11y {
    min-height: 35px;
}
.wa11y-tool-settings .tool-header.tota11y:before {
    background: url( '../images/tota11y-glasses-white.svg' ) 19px 24px no-repeat #252525;
    background-size: 80px auto;
}
.wa11y-tool-settings .tool-header.tota11y .tota11y-red {
    color: #db0f0f;
}
.wa11y-tool-settings .tool-header.tota11y .tota11y-orange {
    color: #ffb710;
}
.wa11y-tool-settings .tool-header.tota11y .tota11y-yellow {
    color: #f5d800;
}
.wa11y-tool-settings .tool-header.tota11y .tota11y-green {
    color: #56d516;
}
.wa11y-tool-settings .tool-header.tota11y .tota11y-blue {
    color: #139fb4;
}
.wa11y-tool-settings .tool-header.tota11y .tota11y-indigo {
    color: #1251af;
}
.wa11y-tool-settings .tool-header.tota11y .tota11y-violet {
    color: #5c12af;
}

/* Customize the WAVE header */
.wa11y-tool-settings .tool-header.wave {
    min-height: 81px;
}
.wa11y-tool-settings .tool-header.wave:before {
    background: url( '../images/wave-logo.png' ) 50% 20px no-repeat #f0f6ee;
    background-size: 81px 81px;
    border-right: 1px solid #d3e3ce;
}

.wa11y-tool-settings .tool-header.wave .wave-red {
    color: #BF1722;
}
.wa11y-tool-settings .tool-header.wave .wave-gray {
    color: #363636;
}

.wa11y-tool-settings .tool-settings-warning {
    display: block;
    background: #faf2f2; /*5%*/
    padding: 12px 20px 12px 20px;
    margin: 0;
    border: 0;
    border-top: 1px solid #f5e5e5; /*10%*/
    font-style: italic;
    color: #770000;
    font-weight: bold;
}

.wa11y-tool-settings ul.tool-settings-list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #d4e8ef; /*17%*/
    border-bottom: 1px solid #d4e8ef; /*17%*/
}

.wa11y-tool-settings ul.tool-settings-list li {
    display: block;
    background: #f2f8fa; /*5%*/
    list-style: none;
    margin: 0;
    padding: 12px 20px 7px 20px;
    border: 0;
    border-bottom: 1px solid #d4e8ef; /*17%*/
}

.wa11y-tool-settings label.tool-option-header {
    display: inline-block;
    margin: 0 10px 5px 0;
    font-size: 14px;
    font-weight: bold;
}

.wa11y-tool-settings .tool-setting-text {
    margin: 0 0 5px 0;
}

.wa11y-tool-settings ul.tool-settings-list .tool-option-checkbox {
    display: inline-block;
    margin: 0 5px 5px 10px;
}

.wa11y-tool-settings ul.tool-settings-list .tool-option-label {
    display: inline-block;
    margin: 0 0 5px 0;
}

.wa11y-tool-settings label.tool-option-header + .tool-option-checkbox {
    margin-left: 0;
}

.wa11y-tool-settings .tool-option-side-note {
    margin: 0 0 5px 10px;
    font-style: italic;
}